html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #e2e2e2;
  margin: 0;
}

header h1 {
  margin: 0;
  padding: 1rem 0;
}

header img {
  order: -1;
  width: 2rem;
  margin: 1rem;
}

header p {
  flex-grow: 2;
  margin: 0;
  text-align: center;
}

nav ul {
  display: flex;
  margin: auto;
  padding: .75em 1em .6em;
  list-style-type: none;
}

nav li {
  padding: 1rem;
}

nav a {
  color: #0074d9;
  text-decoration: none;
  font-size: 1.125rem;
}

nav a:hover {
  color: #fff;
}
